<!-- <div>
    Title: <br> <input type="text" [(ngModel)]="newContent.title"> <br> <br>
    Description: <br> <input type="text" [(ngModel)]="newContent.description"> <br> <br>
    Creator: <br> <input type="text" [(ngModel)]="newContent.creator"> <br> <br>
    Image Link: <br> <input type="text" [(ngModel)]="newContent.imgURL"> <br> <br> 
    Type: <br> <input type="text" [(ngModel)]="newContent.type"> <br> <br>

    <div>
        <button (click)="addContent()">Add Content</button>
    </div>
</div> -->
<h1 mat-dialog-title>Add Companies</h1>
<div mat-dialog-content class="AddCompanyContainer">
    <!-- <mat-form-field>
        <input matInput type="number" [(ngModel)]="newCompany.id" placeholder="ID">
    </mat-form-field> -->
    <!-- <p>Capture a New Company Prospect</p> -->
    <mat-form-field>
        <input matInput type="text" [(ngModel)]="newCompany.title" placeholder="Company Name">
    </mat-form-field>
    <mat-form-field>
        <input matInput type="text" [(ngModel)]="newCompany.description" placeholder="Description">
    </mat-form-field>
    <mat-form-field>
        <input matInput type="text" [(ngModel)]="newCompany.creator" placeholder="Creator">
    </mat-form-field>
    <mat-form-field>
        <input matInput type="text" [(ngModel)]="newCompany.imgURL" placeholder="Image URL">
    </mat-form-field>
    <mat-form-field>
        <input matInput type="text" [(ngModel)]="newCompany.type" placeholder="Type">
    </mat-form-field>
    <mat-form-field>
        <input matInput type="text" [(ngModel)]="newCompany.tags" placeholder="tags">
    </mat-form-field>
    <mat-form-field>
        <input matInput type="text" [(ngModel)]="newCompany.address" placeholder="address">
    </mat-form-field>
    <mat-form-field>
        <input matInput type="text" [(ngModel)]="newCompany.email" placeholder="email">
    </mat-form-field>
    <mat-form-field>
        <input matInput type="text" [(ngModel)]="newCompany.phone" placeholder="phone">
    </mat-form-field>
    <mat-form-field>
        <input matInput type="text" [(ngModel)]="newCompany.url" placeholder="url">
    </mat-form-field>
    <mat-form-field>
        <input matInput type="text" [(ngModel)]="newCompany.website" placeholder="website  URL">
    </mat-form-field>
    <mat-form-field>
        <input matInput type=boolean [(ngModel)]="newCompany.status" placeholder="status">
    </mat-form-field>
    <button mat-raised-button (click)="addContent()">Add Company</button>
</div>
<button mat-raised-button (click)="openDialog('350ms', '350ms')">Add New Content</button>