<div class="AddCompanyContainer">
    <mat-form-field>
        <input matInput type="number" [(ngModel)]="newContent.id" placeholder="ID">
    </mat-form-field>
    <p>Capture a New Company Prospect</p>
    <mat-form-field>
        <input matInput type="text" [(ngModel)]="newContent.title" placeholder="Company Name">
    </mat-form-field>
    <mat-form-field>
        <input matInput type="text" [(ngModel)]="newContent.description" placeholder="Description">
    </mat-form-field>
    <mat-form-field>
        <input matInput type="text" [(ngModel)]="newContent.creator" placeholder="Creator">
    </mat-form-field>
    <mat-form-field>
        <input matInput type="text" [(ngModel)]="newContent.imgURL" placeholder="Image URL">
    </mat-form-field>
    <mat-form-field>
        <input matInput type="text" [(ngModel)]="newContent.type" placeholder="Type">
    </mat-form-field>
    <mat-form-field>
        <input matInput type="text" [(ngModel)]="newContent.tags" placeholder="tags">
    </mat-form-field>
    <mat-form-field>
        <input matInput type="text" [(ngModel)]="newContent.address" placeholder="address">
    </mat-form-field>
    <mat-form-field>
        <input matInput type="text" [(ngModel)]="newContent.email" placeholder="email">
    </mat-form-field>
    <mat-form-field>
        <input matInput type="text" [(ngModel)]="newContent.phone" placeholder="phone">
    </mat-form-field>
    <mat-form-field>
        <input matInput type="text" [(ngModel)]="newContent.url" placeholder="url">
    </mat-form-field>
    <mat-form-field>
        <input matInput type="text" [(ngModel)]="newContent.website" placeholder="website  URL">
    </mat-form-field>
    <mat-form-field>
        <input matInput type=boolean [(ngModel)]="newContent.status" placeholder="status">
    </mat-form-field>
    <button mat-raised-button (click)="addContent()">Add Company</button>
</div>