<div class="searchArea">
    <div class="input">
        <input type="text" [(ngModel)]="title" placeholder="Company Name">
        <button (click)="searchForCompany()">Search</button><br><br>
        <input type="text" [(ngModel)]="type" placeholder="Type of Companies">
        <button (click)="searchForCompaniesType()">Search</button><br><br>
        <button (click)="DisplayAll()">Display all Companies</button>
        <button (click)="DisplayAll()">Clean</button>
        <button (click)="CompaniesByType()">Display by type</button>
    </div>

    <div class="output" *ngIf="CompanyExists !== null">
        <p [style.color]="CompanyExists ? 'green' : 'red'">
            {{CompanyExists ? 'Company exists' : 'Company does not exist'}}
        </p>
        <div *ngIf="CompanyData !== null" class="content-card Exist">
            <h1>{{ CompanyData.title }}</h1>
            <p>Contacted: {{ CompanyData.status}}</p><h6>(Intentionally shown up to know where I have research oportunities)</h6>
            <img *ngIf="CompanyData.imgURL" [src]="CompanyData.imgURL" [alt]="title" (click)="images(CompanyData.imgURL)"/>
            <img *ngIf="!CompanyData.imgURL" [src]="'https://padlet.net/packs/media/images/laboratory_dark-a9646ce910d22acd31ac0cb8ecbf6f4e.png'" [alt]="CompanyData.title" (click)="images('https://padlet.net/packs/media/images/laboratory_dark-a9646ce910d22acd31ac0cb8ecbf6f4e.png')"/>
            <p>{{CompanyData.description}}</p>
            <p>Creator: {{ CompanyData.creator}}</p>
            <p *ngIf="CompanyData.type" typeHoverAffect>Type: {{ CompanyData.type}}</p>
            <!-- <p *ngIf="content.tags" appHoverAffect defaultColor="gray">Tags: {{ content.tags}}</p> -->
            Tags:
            <div *ngFor="let content of CompanyData.tags">
                <p *ngIf="content" appHoverAffect defaultColor="black" [style]="'float:left'">&nbsp;{{ content }};&nbsp;</p>
            </div><br><br>
            <p *ngIf="CompanyData.address">address: {{ CompanyData.address}}</p>
            <p *ngIf="CompanyData.email">email: {{ CompanyData.email}}</p>
            <a *ngIf="CompanyData.url" [href]="CompanyData.url" >url: {{ CompanyData.url}}</a>
            <p *ngIf="CompanyData.phone">phone: {{ CompanyData.phone}}</p>
            <a *ngIf="CompanyData.website" [href]="CompanyData.website">website: {{ CompanyData.website}}</a>
        </div>
    </div>

    <div class="output" *ngIf="CompaniesTypeExist !== null">
        <p [style.color]="CompaniesTypeExist ? 'green' : 'red'">
            {{CompaniesTypeExist ? 'List of existing Companies' : 'List of Companies with Type unset'}}
        </p>
        <div *ngFor="let content of contents | filters:CompaniesType[0].type" class="content-card Exist">
            <h1>{{ content.title }}</h1>
            <p>Contacted: {{ content.status}}</p><h6>(Intentionally shown up to know where I have research oportunities)</h6>
            <img *ngIf="content.imgURL" [src]="content.imgURL" [alt]="content.title" (click)="images(content.imgURL)"/>
            <img *ngIf="!content.imgURL" [src]="'https://padlet.net/packs/media/images/laboratory_dark-a9646ce910d22acd31ac0cb8ecbf6f4e.png'" [alt]="content.title" (click)="images('https://padlet.net/packs/media/images/laboratory_dark-a9646ce910d22acd31ac0cb8ecbf6f4e.png')"/>
            <p>{{content.description}}</p>
            <p>Creator: {{ content.creator}}</p>
            <p *ngIf="content.type" typeHoverAffect>Type: {{ content.type}}</p>
            <!-- <p *ngIf="content.tags" appHoverAffect defaultColor="gray">Tags: {{ content.tags}}</p> -->
            Tags:
            <div *ngFor="let content of content.tags">
                <p *ngIf="content" appHoverAffect defaultColor="black" [style]="'float:left'">&nbsp;{{ content }};&nbsp;</p>
            </div><br><br>
            <p *ngIf="content.address">address: {{ content.address}}</p>
            <p *ngIf="content.email">email: {{ content.email}}</p>
            <a *ngIf="content.url" [href]="content.url" >url: {{ content.url}}</a>
            <p *ngIf="content.phone">phone: {{ content.phone}}</p>
            <a *ngIf="content.website" [href]="content.website">website: {{ content.website}}</a>
        </div>                
    </div>

    <div class="output" *ngIf="AllCompanies === true">
        <p [style.color]="AllCompanies && 'black'">
            {{AllCompanies && 'All Companies'}}
        </p>
        <div *ngFor="let content of contents" class="content-card All">
            <h1>{{ content.title }}</h1>
            <p>Contacted: {{ content.status}}</p><h6>(Intentionally shown up to know where I have research oportunities)</h6>
            <img *ngIf="content.imgURL" [src]="content.imgURL" [alt]="content.title" (click)="images(content.imgURL)"/>
            <img *ngIf="!content.imgURL" [src]="'https://padlet.net/packs/media/images/laboratory_dark-a9646ce910d22acd31ac0cb8ecbf6f4e.png'" [alt]="content.title" (click)="images('https://padlet.net/packs/media/images/laboratory_dark-a9646ce910d22acd31ac0cb8ecbf6f4e.png')"/>
            <p>{{content.description}}</p>
            <p>Creator: {{ content.creator}}</p>
            <p *ngIf="content.type" typeHoverAffect>Type: {{ content.type}}</p>
            <!-- <p *ngIf="content.tags" appHoverAffect defaultColor="gray">Tags: {{ content.tags}}</p> -->
            Tags:
            <div *ngFor="let content of content.tags">
                <p *ngIf="content" appHoverAffect defaultColor="black" [style]="'float:left'">&nbsp;{{ content }};&nbsp;</p>
            </div><br><br>
            <p *ngIf="content.address">address: {{ content.address}}</p>
            <p *ngIf="content.email">email: {{ content.email}}</p>
            <a *ngIf="content.url" [href]="content.url" >url: {{ content.url}}</a>
            <p *ngIf="content.phone">phone: {{ content.phone}}</p>
            <a *ngIf="content.website" [href]="content.website">website: {{ content.website}}</a>
        </div>
    </div>

    <div class="output" *ngIf="CompsByType === true">
        <p [style.color]="CompsByType && 'black'">
            {{CompsByType && 'Companies by type'}}
        </p>
        <div *ngFor="let CompType of CompTypes">
            <b>{{ CompType }}</b>
            <div *ngFor="let content of contents | filters:CompType" class="content-card Exist">
                <h1>{{ content.title }}</h1>
                <p>Contacted: {{ content.status}}</p><h6>(Intentionally shown up to know where I have research oportunities)</h6>
                <img *ngIf="content.imgURL" [src]="content.imgURL" [alt]="content.title" (click)="images(content.imgURL)"/>
                <img *ngIf="!content.imgURL" [src]="'https://padlet.net/packs/media/images/laboratory_dark-a9646ce910d22acd31ac0cb8ecbf6f4e.png'" [alt]="content.title" (click)="images('https://padlet.net/packs/media/images/laboratory_dark-a9646ce910d22acd31ac0cb8ecbf6f4e.png')"/>
                <p>{{content.description}}</p>
                <p>Creator: {{ content.creator}}</p>
                <p *ngIf="content.type" typeHoverAffect>Type: {{ content.type}}</p>
                <!-- <p *ngIf="content.tags" appHoverAffect defaultColor="gray">Tags: {{ content.tags}}</p> -->
                Tags:
                <div *ngFor="let content of content.tags">
                    <p *ngIf="content" appHoverAffect defaultColor="black" [style]="'float:left'">&nbsp;{{ content }};&nbsp;</p>
                </div><br><br>
                <p *ngIf="content.address">address: {{ content.address}}</p>
                <p *ngIf="content.email">email: {{ content.email}}</p>
                <a *ngIf="content.url" [href]="content.url" >url: {{ content.url}}</a>
                <p *ngIf="content.phone">phone: {{ content.phone}}</p>
                <a *ngIf="content.website" [href]="content.website">website: {{ content.website}}</a>
            </div> 
        </div>
    </div>

</div>

<!-- Assignment 2 -->
<!-- <div *ngFor="let content of contents | slice: 0.5" class="content-card">
    <h1>{{ content.title }}</h1>
    <p>Contacted: {{ content.status}}</p><h6>(Intentionally shown up to know where I have research oportunities)</h6>
    <img *ngIf="content.imgURL" [src]="content.imgURL" [alt]="content.title" (click)="images(content.imgURL)"/>
    <p>{{content.description}}</p>
    <p>Creator: {{ content.creator}}</p>
    <p *ngIf="content.type">Type: {{ content.type}}</p>
    <p *ngIf="content.tags">Tags: {{ content.tags}}</p>
    <p *ngIf="content.address">address: {{ content.address}}</p>
    <p *ngIf="content.email">email: {{ content.email}}</p>
    <a *ngIf="content.url" [href]="content.url" >url: {{ content.url}}</a>
    <p *ngIf="content.phone">phone: {{ content.phone}}</p>
    <a *ngIf="content.website" [href]="content.website">website: {{ content.website}}</a>
</div> -->
<!-- <div>
    <h1>Energy and Oil</h1>
    <div *ngFor="let content of contents | filters:'Energy'" class="content-card Enery">
        <h1>{{ content.title }}</h1>
        <p>Contacted: {{ content.status}}</p><h6>(Intentionally shown up to know where I have research oportunities)</h6>
        <img *ngIf="content.imgURL" [src]="content.imgURL" [alt]="content.title" (click)="images(content.imgURL)"/>
        <p>{{content.description}}</p>
        <p>Creator: {{ content.creator}}</p>
        <p *ngIf="content.type">Type: {{ content.type}}</p>
        <p *ngIf="content.tags">Tags: {{ content.tags}}</p>
        <p *ngIf="content.address">address: {{ content.address}}</p>
        <p *ngIf="content.email">email: {{ content.email}}</p>
        <a *ngIf="content.url" [href]="content.url" >url: {{ content.url}}</a>
        <p *ngIf="content.phone">phone: {{ content.phone}}</p>
        <a *ngIf="content.website" [href]="content.website">website: {{ content.website}}</a>
    </div>
</div>
<div>
    <h1>Real Estate</h1>
    <div *ngFor="let content of contents | filters:'Real Estate'" class="content-card Real_Estate">
        <h1>{{ content.title }}</h1>
        <p>Contacted: {{ content.status}}</p><h6>(Intentionally shown up to know where I have research oportunities)</h6>
        <img *ngIf="content.imgURL" [src]="content.imgURL" [alt]="content.title" (click)="images(content.imgURL)"/>
        <p>{{content.description}}</p>
        <p>Creator: {{ content.creator}}</p>
        <p *ngIf="content.type">Type: {{ content.type}}</p>
        <p *ngIf="content.tags">Tags: {{ content.tags}}</p>
        <p *ngIf="content.address">address: {{ content.address}}</p>
        <p *ngIf="content.email">email: {{ content.email}}</p>
        <a *ngIf="content.url" [href]="content.url" >url: {{ content.url}}</a>
        <p *ngIf="content.phone">phone: {{ content.phone}}</p>
        <a *ngIf="content.website" [href]="content.website">website: {{ content.website}}</a>
    </div>
</div>
<div>
    <h1>Real Estate</h1>
    <div *ngFor="let content of contents | filters:'Comunications'" class="content-card Comunications">
        <h1>{{ content.title }}</h1>
        <p>Contacted: {{ content.status}}</p><h6>(Intentionally shown up to know where I have research oportunities)</h6>
        <img *ngIf="content.imgURL" [src]="content.imgURL" [alt]="content.title" (click)="images(content.imgURL)"/>
        <p>{{content.description}}</p>
        <p>Creator: {{ content.creator}}</p>
        <p *ngIf="content.type">Type: {{ content.type}}</p>
        <p *ngIf="content.tags">Tags: {{ content.tags}}</p>
        <p *ngIf="content.address">address: {{ content.address}}</p>
        <p *ngIf="content.email">email: {{ content.email}}</p>
        <a *ngIf="content.url" [href]="content.url" >url: {{ content.url}}</a>
        <p *ngIf="content.phone">phone: {{ content.phone}}</p>
        <a *ngIf="content.website" [href]="content.website">website: {{ content.website}}</a>
    </div>
</div>
<div>
    <h1>Not Defined</h1>
    <div *ngFor="let content of contents | filters:''" class="content-card Undefined">
        <h1>{{ content.title }}</h1>
        <p>Contacted: {{ content.status}}</p><h6>(Intentionally shown up to know where I have research oportunities)</h6>
        <img *ngIf="content.imgURL" [src]="content.imgURL" [alt]="content.title" (click)="images(content.imgURL)"/>
        <p>{{content.description}}</p>
        <p>Creator: {{ content.creator}}</p>
        <p *ngIf="content.type">Type: {{ content.type}}</p>
        <p *ngIf="content.tags">Tags: {{ content.tags}}</p>
        <p *ngIf="content.address">address: {{ content.address}}</p>
        <p *ngIf="content.email">email: {{ content.email}}</p>
        <a *ngIf="content.url" [href]="content.url" >url: {{ content.url}}</a>
        <p *ngIf="content.phone">phone: {{ content.phone}}</p>
        <a *ngIf="content.website" [href]="content.website">website: {{ content.website}}</a>
    </div>
</div> -->